In [191]:
import numpy as np
import pandas as pd

In [192]:
Tornado_Summary_2011_df = pd.read_csv('2011Tornado_Summary.csv')

In [193]:
Tornado_Summary_2011_df['type_of_disaster'] ='Tornado_2011'

In [194]:
Tornado_Summary_2011_df.drop(['num','timestamp'], axis=1,inplace=True)

In [195]:
Tornado_Summary_2011_df.head()

                                                text  label type_of_disaster
0  RT @uberdogfound: Please RT - Food needed for ...      1     Tornado_2011
1  Please RT - Food needed for shelter in NC in a...      1     Tornado_2011
2  ‚ô°its raining and tornado warnings....about t...      1     Tornado_2011
3  Lmao #damn RT @LuCeCaNNoNn: If I don't get any...      1     Tornado_2011
4  Saved by the tornado warning....I'm just ready...      0     Tornado_2011

In [196]:
Tornado_Summary_2011_df.shape

(3572, 3)

In [197]:
Tornado_Summary_2011_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3572 entries, 0 to 3571
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   text              3572 non-null   object
 1   label             3572 non-null   int64
 2   type_of_disaster  3572 non-null   object
dtypes: int64(1), object(2)
memory usage: 83.8+ KB

In [198]:
Tornado_Summary_2011_df.isnull().sum()

text                0
label               0
type_of_disaster    0
dtype: int64

In [199]:
Sandy_Summary_2012_df = pd.read_csv('2012Sandy_Summary.csv')

In [200]:
Sandy_Summary_2012_df['type_of_disaster'] ='Sandy'

In [201]:
Sandy_Summary_2012_df.drop(['num','timestamp'], axis=1,inplace=True)

In [202]:
Sandy_Summary_2012_df.head()

                                                text  label type_of_disaster
0  They make Hurricane Sandy sound like a big dea...      1            Sandy
1  The kitchen was out of mad food tonight so I t...      1            Sandy
2  Hundreds if not thousands of people lost their...      1            Sandy
3  “@_KingDing_ALing: My TL right now:\n-The Heat...      1            Sandy
4  #YouGainMajorPointsIf you go to dollarama whil...      0            Sandy

In [203]:
Sandy_Summary_2012_df.shape

(2190, 3)

In [204]:
Sandy_Summary_2012_df.isnull().sum()

text                0
label               0
type_of_disaster    0
dtype: int64

In [205]:
Floods_Summary_2013_df = pd.read_csv('2013Floods_Summary.csv')

In [206]:
Floods_Summary_2013_df.drop(['num','timestamp'], axis=1,inplace=True)

In [207]:
Floods_Summary_2013_df['type_of_disaster'] ='Floods_2013'

In [208]:
Floods_Summary_2013_df.head()

                                                text  label type_of_disaster
0  It's Ok, Manchester's off flood alert. Fat cho...      0      Floods_2013
1  Love how you ask for a tiny bit of sauce, and ...      0      Floods_2013
2  Dif tailgate!! Morning games and good food. Im...      0      Floods_2013
3  As much food as I've eaten today, I'm going to...      0      Floods_2013
4  ‚Äú@____Reece: Can't wait for the 'I'm hanging...      0      Floods_2013

In [209]:
Floods_Summary_2013_df.isnull().sum()

text                0
label               0
type_of_disaster    0
dtype: int64

In [210]:
Blizzard_Summary_2016_df = pd.read_csv('2016Blizzard_Summary.csv')

In [211]:
Blizzard_Summary_2016_df.drop(['num','timestamp'], axis=1,inplace=True)

In [212]:
Blizzard_Summary_2016_df['type_of_disaster'] = 'Blizzard_2016'

In [213]:
Blizzard_Summary_2016_df.head()

                                                text  label type_of_disaster
0   & :  US eastcoast had a historic blizzard.18 ...      1    Blizzard_2016
1   brixcitygurl: CAN YOU FIND THE CAR? #blizzard...      1    Blizzard_2016
2   Snow blizzard in NY ! It took us a week to ge...      1    Blizzard_2016
3   Snow Painting  Spray bottle with a few drops ...      1    Blizzard_2016
4   Stony Brook Medicine residents covering the u...      1    Blizzard_2016

In [214]:
Blizzard_Summary_2016_df.shape

(3649, 3)

In [215]:
Blizzard_Summary_2016_df.isnull().sum()

text                0
label               0
type_of_disaster    0
dtype: int64

In [216]:
Matthew_Summary_2016_df = pd.read_csv('2016Matthew_Summary.csv')

In [217]:
Matthew_Summary_2016_df['type_of_disaster'] = 'Matthew'

In [218]:
Matthew_Summary_2016_df.drop(['num','timestamp'], axis=1,inplace=True)

In [219]:
Matthew_Summary_2016_df.head()

                                                text  label type_of_disaster
0  With my Love of my Life, my Bride, on the eve ...      0          Matthew
1  Time for us to start getting ready for Hurrica...      0          Matthew
2  Hurricane Tips #food #hurricane #matthew #remi...      1          Matthew
3  With my Love of my Life, my Bride, on the eve ...      0          Matthew
4  Time for us to start getting ready for Hurrica...      0          Matthew

In [220]:
Matthew_Summary_2016_df.shape

(5204, 3)

In [221]:
Matthew_Summary_2016_df.isnull().sum()

text                0
label               0
type_of_disaster    0
dtype: int64

In [222]:
Hurricane_Summary_2017_df = pd.read_csv('2017Hurricane_Summary.csv')

In [223]:
Hurricane_Summary_2017_df['type_of_disaster'] = 'Hurricane_2017'

In [224]:
Hurricane_Summary_2017_df.drop(['num','timestamp'], axis=1,inplace=True)

In [225]:
Hurricane_Summary_2017_df.head()

                                                text  label type_of_disaster
0  Your hurricane emergency kit should include at...      1   Hurricane_2017
1  Eclipse: overrated, over-hyped, schools are be...      1   Hurricane_2017
2  Your hurricane emergency kit should include at...      1   Hurricane_2017
3  Eclipse: overrated, over-hyped, schools are be...      1   Hurricane_2017
4  I wanna go back to New Orleans so bad  I wanna...      1   Hurricane_2017

In [226]:
Hurricane_Summary_2017_df.isnull().sum()

text                0
label               0
type_of_disaster    0
dtype: int64

In [227]:
Michael_Summary_2018_df = pd.read_csv('2018Michael_Summary.csv')

In [228]:
Michael_Summary_2018_df['type_of_disaster'] = 'Michael'

In [229]:
Michael_Summary_2018_df.drop(['Unnamed: 0','timestamp'], axis=1,inplace=True)

In [230]:
Michael_Summary_2018_df.head()

,text,sentiment,type_of_disaster
0,Keeping our eyes in Hurricane Michael as it he...,0,Michael
1,Tallahassee prepares for Hurricane Michael wit...,1,Michael
2,Just spent half a day at Costco and grocery st...,1,Michael
3,Hurricane Michael just allow us to get those f...,1,Michael
4,"If you are in Hurricane Michael's path, here i...",0,Michael

In [231]:
Wildfires_Summary_2018_df = pd.read_csv('2018Wildfires_Summary.csv')

In [232]:
Wildfires_Summary_2018_df ['type_of_disaster']= 'Wildfires_2018'

In [233]:
Wildfires_Summary_2018_df.drop(['num','timestamp'], axis=1,inplace=True)

In [234]:
Wildfires_Summary_2018_df.head()

                                                text  label type_of_disaster
0   \n\nEntertainment Tonight: Dave Grohl Deliver...      1   Wildfires_2018
1     Residents are oftentimes left no choice but...      1   Wildfires_2018
2    HEADLINES BLAME THIS ON ‚ÄúWILDFIRE‚Äù ‚Äî\n...      1   Wildfires_2018
3   ‚ÄúAlmost 200 Australian and NZ firefighters ...      1   Wildfires_2018
4   ‚ÄúPolice arrest suspect for setting off mass...      1   Wildfires_2018

In [235]:
Wildfires_Summary_2018_df.shape

(4596, 3)

In [236]:
Wildfires_Summary_2018_df.isnull().sum()

text                0
label               0
type_of_disaster    0
dtype: int64

In [237]:
Dorian_Summary_2019_df = pd.read_csv('2019Dorian_Summary.csv')

In [238]:
Dorian_Summary_2019_df['type_of_disaster'] = 'Dorian'

In [239]:
Dorian_Summary_2019_df.drop(['num','timestamp'], axis=1,inplace=True)

In [240]:
Dorian_Summary_2019_df.head()

                                                text  label type_of_disaster
0  The governor of PR Wanda Vazquez just made a s...      1           Dorian
1  The governor of PR Wanda Vazquez just made a s...      1           Dorian
2  To my family and friends who live in the path ...      0           Dorian
3  My colleague @LizBalmaseda with some food tips...      1           Dorian
4  Hurricane #Dorian #Newadvisory \ntime to prepa...      1           Dorian

In [241]:
Dorian_Summary_2019_df.isnull().sum()

text                0
label               0
type_of_disaster    0
dtype: int64

In [245]:
frames = [Tornado_Summary_2011_df,Sandy_Summary_2012_df,Floods_Summary_2013_df,Blizzard_Summary_2016_df,
          Matthew_Summary_2016_df,Hurricane_Summary_2017_df,Michael_Summary_2018_df,Wildfires_Summary_2018_df,
          Dorian_Summary_2019_df
         ]

In [248]:
df = pd.concat(frames)

In [260]:
df.shape

(41998, 4)

In [261]:
df.drop(['sentiment'], axis=1,inplace=True)

In [262]:
df.head()

                                                text  label type_of_disaster
0  RT @uberdogfound: Please RT - Food needed for ...    1.0     Tornado_2011
1  Please RT - Food needed for shelter in NC in a...    1.0     Tornado_2011
2  ‚ô°its raining and tornado warnings....about t...    1.0     Tornado_2011
3  Lmao #damn RT @LuCeCaNNoNn: If I don't get any...    1.0     Tornado_2011
4  Saved by the tornado warning....I'm just ready...    0.0     Tornado_2011

In [263]:
df.rename(columns = {'label':'disaster'}, inplace = True)

In [293]:
df.drop(['id2'],axis=1,inplace=True)

In [294]:
df['id'] = df.index+1

In [295]:
df['id'] = df['type_of_disaster']+'_'+df['id'].astype(str)

In [296]:
df.head()

,text,disaster,type_of_disaster,id
0,RT @uberdogfound: Please RT - Food needed for ...,1.0,Tornado_2011,Tornado_2011_1
1,Please RT - Food needed for shelter in NC in a...,1.0,Tornado_2011,Tornado_2011_2
2,‚ô°its raining and tornado warnings....about t...,1.0,Tornado_2011,Tornado_2011_3
3,Lmao #damn RT @LuCeCaNNoNn: If I don't get any...,1.0,Tornado_2011,Tornado_2011_4
4,Saved by the tornado warning....I'm just ready...,0.0,Tornado_2011,Tornado_2011_5

In [300]:
df.to_csv('Natural-Hazards-Twitter-Dataset.csv',index=False)

In [301]:
df2 = pd.read_csv('Natural-Hazards-Twitter-Dataset.csv')

In [302]:
df2.head()

,text,disaster,type_of_disaster,id
0,RT @uberdogfound: Please RT - Food needed for ...,1.0,Tornado_2011,Tornado_2011_1
1,Please RT - Food needed for shelter in NC in a...,1.0,Tornado_2011,Tornado_2011_2
2,‚ô°its raining and tornado warnings....about t...,1.0,Tornado_2011,Tornado_2011_3
3,Lmao #damn RT @LuCeCaNNoNn: If I don't get any...,1.0,Tornado_2011,Tornado_2011_4
4,Saved by the tornado warning....I'm just ready...,0.0,Tornado_2011,Tornado_2011_5